# Python byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# Unit test / coverage reports
htmlcov
.coverage
.coverage.gw*

# Translations
*.mo

# Editor
.idea/

# Temporary and backup files
.cache
tmp
*~
*.bak
*.swp
