<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <div class="form-group">
        <label translate>Search:</label>
        <input type="text" class="form-control" placeholder="{{'Enter search query' | translate}}" ng-model="query" />
      </div>
    </div>

    <div class="col-md-10">
      <!--Body content-->
      <h2 translate>Welcome!</h2>

      <pre>session = {{session | json}}</pre>

      <button type="button" class="btn btn-lg" ng-click="loginTest()" translate>Auth check</button>
      <button type="button" class="btn btn-lg" ng-click="logout()" translate>LogOut</button>
    </div>
  </div>
</div>
