.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.without-padding {
    padding: 0;
}

.tooltip-inner {
    border: solid 1px #ccc;
}

.tooltip {
    font-size: small;
}

button.btn-sm.btn-sm-wide {
    padding-left: 20px;
    padding-right: 20px;
}

button.btn.btn-wide {
    padding-left: 24px;
    padding-right: 24px;
}

button.btn.btn-toggle-wide {
    padding-left: 24px;
    padding-right: 12px;
}

button.btn.dropdown-toggle {
    padding: 6px 8px;
}

ul.dropdown-menu {
    outline: none;

    /* required by container=body */
    z-index: 2000;
}

div.tooltip {
    /* required by container=body */
    z-index: 2050;
}

input[type=number] {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
}

input[type=number].no-buttons::-webkit-inner-spin-button,
input[type=number].no-buttons::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].no-buttons {
    -moz-appearance:textfield;
}
