.field-vendor {}

.field-article-number {}

.field-name {}

.field-quantity {
    text-align: right;
    max-width: 10em;
}

.field-quantity.field-title {
    text-align: center;
}

.field-unit {
    text-align: center;
}

.field-unit-beside-quantity {
    text-align: left;
}

.field-purchase-price {
    text-align: right;
}

.field-purchase-price.field-title {
    text-align: center;
}

.field-currency {
    text-align: center;
}

.field-currency-beside-purchase-price {
    text-align: left;
}

.field-barcode {
    max-width: 12em;
}

.field-count {
    text-align: right;
}

.field-checkbox {
    text-align: center;
}

.table > tbody > tr > td.field-checkbox {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.field-button {
    text-align: center;
}

.table > tbody > tr > td.field-button {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.table > tbody > tr > td.field-button.field-double-button {
    min-width: 80px;
}

.table > tbody > tr > td.field-button.field-triple-button {
    min-width: 110px;
}
