<!doctype html>
<html lang="en" ng-app="storekeeperApp" ng-controller="CommonController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="StoreKeeper" />
  <meta name="author" content="Andras Tim" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />

  <title ng-bind="getWindowTitle()">StoreKeeper</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.css">
  <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css">

  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="#/"><img id="logo" src="img/logo.png" alt="Logo"> <span ng-bind="appTitle"></span></a>
      </div>

      <ul class="nav navbar-nav" ng-if="isAuthenticated()">
        <li><a href data-template="partials/sidebar.html" data-placement="left" bs-aside="aside" data-container="body" translate>
          Quick Search
        </a></li>
        <li data-match-route="/main$"><a href="#/main" translate>Items</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-bind="session.username" ng-click="logout()" ng-if="isAuthenticated()"></a></li>
        <li><a href ng-bind="currentLanguage" bs-dropdown="languages">...</a></li>
      </ul>
    </div>
  </nav>



  <div class="container">
    <div ng-view></div>
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="bower_components/angular/angular.js"></script>

  <script src="bower_components/angular-route/angular-route.js"></script>
  <!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/restangular/dist/restangular.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
  <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
  <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/translations.js"></script>
</body>
</html>
