.main-navbar .navbar-brand {
    padding: 8px 15px;
}
.main-navbar .navbar-brand img {
    display: inline;
    max-height: 35px;
    vertical-align: -10px;
    margin-right: 0.5em;
}

.main-footer {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.main-footer a {
    color: #80a0d0;
}

.details-modal .modal-body {
    padding: 0;
}

.details-modal-navbar {
    cursor: default;
    border-radius: 0;
    margin-bottom: 10px;
}

.details-modal-content {
    padding: 15px;
}
