config.yml
persistent_storage/

img/background.svg
img/label_logo.gif
img/logo.png
img/logo.svg

ico/apple-touch-icon-114-precomposed.png
ico/apple-touch-icon-144-precomposed.png
ico/apple-touch-icon-72-precomposed.png
ico/apple-touch-icon-57-precomposed.png
ico/favicon.png
