<ng-form name="inputForm">
  <div class="form-group" show-errors>

    <div class="{{ aLabelClass }}">
      <label for="{{ aName }}Typeahead" class="control-label" ng-bind="aLabel"></label>
    </div>

    <div class="{{ aInputClass }}" ng-class="{'has-error': inputForm[aName].$dirty && inputForm[aName].$error.required}">
      <div class="input-group">
        <input name="{{ aName }}" id="{{ aName }}Typeahead" ng-model="aModel" type="text" class="form-control" placeholder="{{ aPlaceholder }}" autocomplete="off" ng-required="aRequired" data-min-length="0" data-auto-select="true" bs-options="{{ aDataSource }}" bs-typeahead />
        <span class="input-group-btn">
          <button class="btn btn-success" ng-disabled="aModel == '' || isFilled(aModel) || aLoadingSpinner || aCreatingSpinner" ng-click="aCreateCallback()">
            <i ng-if="!(aLoadingSpinner || aCreatingSpinner)" class="fa fa-plus"></i>
            <app-spinner ng-if="aLoadingSpinner || aCreatingSpinner"></app-spinner>
          </button>
        </span>
      </div>
      <p class="help-block" ng-if="aRequired" ng-show="inputForm[aName].$dirty && inputForm[aName].$error.required" ng-bind="aRequired"></p>
    </div>

  </div>
</ng-form>
