<ng-form name="inputForm">
  <div class="form-group" show-errors>

    <div class="{{ appLabelClass }}">
      <label for="{{ appName }}Typeahead" class="control-label" ng-bind="appLabel"></label>
    </div>

    <div class="{{ appInputClass }}" ng-class="{'has-error': inputForm[appName].$dirty && inputForm[appName].$error.required}">
      <div class="input-group">
        <input name="{{ appName }}" id="{{ appName }}Typeahead" ng-model="appModel" type="text" class="form-control" placeholder="{{ appPlaceholder }}" autocomplete="off" ng-required="appRequired" data-min-length="0" data-auto-select="true" bs-options="{{ appDataSource }}" bs-typeahead />
        <span class="input-group-btn">
          <button class="btn btn-success" ng-disabled="appModel == '' || isFilled(appModel) || appLoadingSpinner || appCreatingSpinner" ng-click="appCreateCallback()">
            <i ng-if="!(appLoadingSpinner || appCreatingSpinner)" class="fa fa-plus"></i>
            <app-spinner ng-if="appLoadingSpinner || appCreatingSpinner"></app-spinner>
          </button>
        </span>
      </div>
      <p class="help-block" ng-if="appRequired" ng-show="inputForm[appName].$dirty && inputForm[appName].$error.required" ng-bind="appRequired"></p>
    </div>

  </div>
</ng-form>
