<ng-form name="inputForm">
  <div class="form-group" show-errors>

    <div class="{{ aLabelClass }}">
      <label for="{{ aName }}Input" class="control-label" ng-bind="aLabel"></label>
    </div>

    <div class="{{ aInputClass }}" ng-class="{'has-error': inputForm[aName].$dirty && inputForm[aName].$error.required}">
      <input name="{{ aName }}" id="{{ aName }}Input" ng-model="aModel" type="{{ aType }}" class="form-control" placeholder="{{ aPlaceholder }}" autocomplete="{{ aAutocomplete }}" ng-required="aRequired" />
      <p class="help-block" ng-if="aRequired" ng-show="inputForm[aName].$dirty && inputForm[aName].$error.required" ng-bind="aRequired"></p>
    </div>

  </div>
</ng-form>
