<div app-details-modal>

  <div class="modal-body" ng-controller="ItemController">
    <div app-details-modal-navbar>
      <span class="navbar-brand"><i class="fa fa-cube"></i> {{ 'Item' | translate }} #{{ id }}</span>
      <span class="navbar-brand" ng-bind="name"></span>
    </div>

    <div class="details-modal-content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-6">
            <div class="container-fluid">
              <!-- Item details -->

              <div class="row">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <form name="itemForm" class="form-horizontal">

                      <div class="form-group" show-errors>
                        <label class="col-sm-4 control-label" for="vendor" ><span translate>Vendor</span> <span app-spinner="creatingVendor"></span></label>
                        <div class="col-sm-8" ng-class="{'has-error': itemForm.vendor.$dirty && itemForm.vendor.$error.required}">
                          <div class="input-group">
                            <input type="text" class="form-control" id="vendor" name="vendor" ng-model="vendor" data-min-length="0" data-auto-select="true" bs-options="vendor as vendor.name for vendor in vendors" placeholder="{{ 'Enter vendor' | translate }}" autocomplete="off" bs-typeahead required>
                            <span class="input-group-btn">
                              <button class="btn btn-success" ng-disabled="vendor == '' || isFilled(vendor)" ng-click="createVendor()"><i class="fa fa-plus"></i></button>
                            </span>
                          </div>
                          <p class="help-block" ng-if="itemForm.vendor.$dirty && itemForm.vendor.$error.required" translate>The vendor of item is required</p>
                        </div>
                      </div>

                      <div class="form-group" show-errors>
                        <label class="col-sm-4 control-label" for="articleNumber" translate>Article no.</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="articleNumber" name="articleNumber" placeholder="{{ 'Enter article number' | translate }}" ng-model="article_number">
                        </div>
                      </div>

                      <div class="form-group" show-errors>
                        <label class="col-sm-4 control-label" for="name" translate>Name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="name" name="name" placeholder="{{ 'Enter name of item' | translate }}" ng-model="name">
                        </div>
                      </div>

                      <div class="form-group" show-errors>
                        <label class="col-sm-4 control-label" for="unit"><span translate>Unit</span> <span app-spinner="creatingUnit"></span></label>
                        <div class="col-sm-8" ng-class="{'has-error': itemForm.unit.$dirty && itemForm.unit.$error.required}">
                          <div class="input-group">
                            <input type="text" class="form-control" id="unit" name="unit" ng-model="unit" data-min-length="0" data-auto-select="true" bs-options="unit as unit.unit for unit in units" placeholder="{{ 'Enter unit' | translate }}" autocomplete="off" bs-typeahead required>
                            <span class="input-group-btn">
                              <button class="btn btn-success" ng-disabled="unit == '' || isFilled(unit)" ng-click="createUnit()"><i class="fa fa-plus"></i></button>
                            </span>
                          </div>
                          <p class="help-block" ng-if="itemForm.unit.$dirty && itemForm.unit.$error.required" translate>The unit of item is required</p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="container-fluid">
              <!-- Meta, barcodes -->

              <div class="row">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <label class="col-sm-4 control-label" translate>Current Quantity</label>
                    <div class="col-sm-8">
                      <p class="form-control-static">{{ quantity }} {{ unit.unit }}</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-disabled="true" translate>Save</button>
    <button type="button" class="btn btn-default" ng-click="$hide()" translate>Close</button>
  </div>

</div>
