<app-details-modal>
  <form name="itemSelectorForm">
    <div class="modal-body">
      <app-details-modal-navbar>
        <span class="navbar-brand"><i app-icon="item"></i> {{ 'Item selector' | translate }} </span>
      </app-details-modal-navbar>

      <div class="details-modal-content">
        <div class="container-fluid">
          <div class="row">
            <ng-form class="form-horizontal">

              <app-input-form a-label="{{ 'Item' | translate }}" a-required="{{ 'Item can not be empty' | translate }}">
                <app-item-input a-model="elementData.selectedItem" class="field-count" a-autofocus></app-item-input>
              </app-input-form>

              <app-input-form a-label="{{ 'Barcode quantity' | translate }}" a-required="{{ 'Quantity can not be empty' | translate }}">
                <div class="input-group field-quantity">
                  <app-quantity-input a-model="elementData.barcodeQuantity" app-tooltip="{{ 'Item amount for this barcode' | translate }}" class="field-quantity"></app-quantity-input>
                  <div class="input-group-addon field-unit-beside-quantity" ng-bind="elementData.selectedItem.unit"></div>
                </div>
              </app-input-form>

            </ng-form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <i app-icon="spinner" ng-if="itemSelectorOperation"></i>
      <button type="submit" class="btn btn-primary" ng-click="elementData.onItemSelect()" ng-disabled="itemSelectorOperation" ng-bind="elementData.defaultButtonTitle"></button>
      <button type="button" class="btn btn-default" ng-click="$hide()" translate>Cancel</button>
    </div>
  </form>
</app-details-modal>
