<div class="container">
  <div class="container-fluid">
    <h2><i class="fa fa-cube"></i> <span ng-bind="'Items' | translate | setTitle"></span></h2>

    <table st-table="displayedItems" st-safe-src="items" st-set-filter="isContainedInNested" class="table table-striped table-hover">
      <thead>
        <tr>
          <th st-sort="vendor.name" translate>Vendor</th>
          <th st-sort="article_number" translate>Article Number</th>
          <th st-sort="name" st-sort-default="true" translate>Name</th>
          <th st-sort="quantity" translate>Quantity</th>
        </tr>
        <tr>
          <th colspan="2">
            <input placeholder="{{ 'global search' | translate}}" class="input-sm form-control" type="search" st-search />
          </th>
          <th>
            <input placeholder="{{ 'search for vendor' | translate}}" class="input-sm form-control" type="search" st-search="vendor.name" />
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in displayedItems" app-details-row="item" data-template-url="partials/views/item.html">
          <td>{{ item.vendor.name }}</td>
          <td>{{ item.article_number }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }} {{ item.unit.unit }}</td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <st-pagination></st-pagination>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
