<div class="container">
  <div class="container-fluid">
    <h2><i class="fa fa-cube"></i> <span ng-bind="'Items' | translate | setTitle"></span></h2>

    <table st-table="displayedItems" st-safe-src="items" st-set-filter="isContainedInNested" app-table-persist="items" class="table table-striped table-hover">
      <thead>
        <tr class="clickable">
          <th st-sort="vendor.name" class="field-vendor" translate>Vendor</th>
          <th st-sort="article_number" class="field-article-number" translate>Article Number</th>
          <th st-sort="name" class="field-name" st-sort-default="true" translate>Name</th>
          <th colspan="2" st-sort="quantity" class="field-quantity field-title" translate>Quantity</th>
        </tr>
        <tr>
          <th colspan="2">
            <input placeholder="{{ 'global search' | translate}}" class="input-sm form-control" type="search" st-search />
          </th>
          <th>
            <input placeholder="{{ 'search for vendor' | translate}}" class="input-sm form-control" type="search" st-search="vendor.name" />
          </th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-if="loadingItems">
          <td colspan="5" class="text-center" app-spinner></td>
        </tr>
        <tr ng-repeat="item in displayedItems" ng-click="openItem(item)" class="clickable">
          <td class="field-vendor">{{ item.vendor.name }}</td>
          <td class="field-article-number">{{ item.article_number }}</td>
          <td class="field-name">{{ item.name }}</td>
          <td class="field-quantity">{{ item.quantity }}</td>
          <td class="field-unit-beside-quantity">{{ item.unit.unit }}</td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <st-pagination></st-pagination>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
