<app-details-modal>
  <span ng-controller="ItemController">
    <div class="modal-body">
      <app-details-modal-navbar>
        <span class="navbar-brand"><i class="fa fa-cube"></i> {{ 'Item' | translate }} #{{ rowData.id }}</span>
        <span class="navbar-brand" ng-bind="rowData.name"></span>
      </app-details-modal-navbar>

      <div class="details-modal-content">
        <div class="container-fluid">
          <div class="row">

            <!-- Item details -->
            <form name="itemForm" class="form-horizontal" app-confirm-on-exit="itemForm.$dirty" a-modal-id="modalId">
              <app-details-modal-panel>

                <app-input-form a-input-name="vendor" a-input-id="vendorTypeahead" a-label="{{ 'Vendor' | translate }}" a-required="{{ 'Vendor is required' | translate }}">
                  <app-typeahead-helper a-create-callback="createVendor()" a-loading-spinner="loadingVendors" a-creating-spinner="creatingVendor">
                    <input name="vendor" id="vendorTypeahead" ng-model="item.vendor" bs-options="vendor as vendor.name for vendor in vendors" type="text" class="form-control" autocomplete="off" placeholder="{{ 'Enter vendor' | translate }}" required bs-typeahead />
                  </app-typeahead-helper>
                </app-input-form>

                <app-input-form a-input-name="articleNumber" a-input-id="articleNumberInput" a-label="{{ 'Article no.' | translate }}" a-required="{{ 'Article number is required' | translate }}">
                  <input name="articleNumber" id="articleNumberInput" ng-model="item.article_number" type="text" class="form-control" autocomplete="off" placeholder="{{ 'Enter article number' | translate }}" required />
                </app-input-form>

                <app-input-form a-input-name="name" a-input-id="nameInput" a-label="{{ 'Name' | translate }}" a-required="{{ 'Name is required' | translate }}">
                  <input name="name" id="nameInput" ng-model="item.name" type="text" class="form-control" autocomplete="off" placeholder="{{ 'Enter name of item' | translate }}" required />
                </app-input-form>

                <app-input-form a-input-name="unit" a-input-id="unitTypeahead" a-label="{{ 'Unit' | translate }}" a-required="{{ 'Unit is required' | translate }}">
                  <app-typeahead-helper a-create-callback="createUnit()" a-loading-spinner="loadingUnits" a-creating-spinner="creatingUnit">
                    <input name="unit" id="unitTypeahead" ng-model="item.unit" bs-options="unit as unit.unit for unit in units" type="text" class="form-control" autocomplete="off" placeholder="{{ 'Enter unit' | translate }}" required bs-typeahead />
                  </app-typeahead-helper>
                </app-input-form>

              </app-details-modal-panel>
            </form>

            <!-- Meta -->
            <app-details-modal-panel>
              <app-input-form a-input-name="currentQuantity" a-input-id="currentQuantityInput" a-label="{{ 'In Stock' | translate }}">
                <div class="input-group field-quantity">
                  <input name="currentQuantity" id="currentQuantityInput" ng-model="item.quantity" type="text" class="form-control field-quantity" readonly />
                  <div class="input-group-addon field-unit-beside-quantity" ng-bind="item.unit.unit"></div>
                </div>
              </app-input-form>
            </app-details-modal-panel>

            <!-- Barcodes -->
            <form name="barcodesForm" app-confirm-on-exit="barcodesForm.$dirty" a-modal-id="modalId">
              <app-details-modal-panel>
                <table class="table table-condensed">

                  <thead>
                    <tr>
                      <th class="field-checkbox"></th>
                      <th class="field-barcode" translate>Barcode</th>
                      <th class="field-quantity field-title" translate>Quantity ({{ item.unit.unit }})</th>
                      <th class="field-button" translate>Commands</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-if="loadingBarcodes">
                      <td colspan="4" class="text-center" app-spinner></td>
                    </tr>
                    <tr ng-repeat="barcode in barcodes | filter:filterAvailable" ng-class="{'warning': barcode.dirty}">

                      <td class="field-checkbox">
                          <app-checkbox-label app-tooltip="{{ 'Master barcode for this item' | translate }}">
                            <input name="master" type="checkbox" ng-model="barcode.master" ng-change="togglePostCheck(barcode); setBarcodeDirty(barcode)" ng-disabled="!barcode.main">
                          </app-checkbox-label>
                      </td>

                      <td class="field-barcode">
                        <input name="barcode" ng-value="barcode.barcode" type="text" class="form-control field-barcode" readonly />
                      </td>

                      <td class="field-quantity">
                        <input name="quantity" ng-model="barcode.quantity" ng-change="setBarcodeDirty(barcode, true)" type="number" min="1" class="form-control field-quantity" placeholder="{{ 'Barcode quantity' | translate }}" required />
                      </td>

                      <td class="field-button field-triple-button">
                        <div class="btn-group" role="group">
                          <a ng-click="printLabel(barcode)" ng-disabled="!barcode.main || barcode.dirtyForLabel" class="btn btn-default btn-sm" data-type="info" data-title="{{ 'Print label' | translate }}" bs-tooltip><i class="fa fa-print"></i></a>
                          <a ng-click="downloadLabel(barcode)" ng-disabled="!barcode.main || barcode.dirtyForLabel" class="btn btn-default btn-sm" data-type="info" data-title="{{ 'Download label file' | translate }}" bs-tooltip><i class="fa fa-download"></i></a>
                          <a ng-click="deleteBarcode(barcode)" class="btn btn-default btn-sm btn-danger" data-type="info" data-title="{{ 'Remove label' | translate }}" bs-tooltip><i class="fa fa-trash-o"></i></a>
                        </div>
                      </td>

                    </tr>
                    <tr ng-if="creatingBarcode">
                      <td colspan="4" class="text-center" app-spinner></td>
                    </tr>
                  </tbody>
                </table>

                <button ng-disabled="creatingBarcode" class="btn btn-success btn-sm pull-right pull-bottom" ng-click="createBarcode()">
                  <i class="fa fa-plus"></i>
                </button>
              </app-details-modal-panel>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <app-spinner ng-if="savingItem"></app-spinner>
      <button type="button" class="btn btn-primary" ng-disabled="(!itemForm.$dirty && !barcodesForm.$dirty) || savingItem" ng-click="saveChanges()" translate>Save</button>
      <button type="button" class="btn btn-default" ng-click="closeModal()" translate>Close</button>
    </div>

  </span>
</app-details-modal>
