<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content" ng-controller="ItemSidebarController">

      <div class="aside-header">
        <h4 class="aside-title"><i app-icon="barcode"></i> <span translate>Item finder</span></h4>
      </div>

      <div class="aside-body">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">

            <form name="barcodeForm">
              <div class="input-group">
                <input id="barcodeText" name="barcode" type="text" class="form-control" placeholder="{{ 'Enter barcode' | translate }}" autofocus />
                <span class="input-group-btn">
                  <button class="btn btn-success" ng-click="addNewBarcode(barcodeForm.barcode)">
                    <i app-icon="add"></i>
                  </button>
                </span>
              </div>
              <label for="summarizeMultipleItemsCheckbox">
                <input id="summarizeMultipleItemsCheckbox" name="summarizeMultipleItems" type="checkbox"> {{ 'Summarize items' | translate }}
              </label>
            </form>

          </div>
        </div>

        <div class="row" ng-repeat="readItem in readItems">
          <pre ng-bind="readItem | json"></pre>
        </div>
      </div>

      <div class="aside-footer">
        <div class="btn-group" role="group">
          <a class="btn btn-default btn-sm">Print</a>
          <a class="btn btn-default btn-sm">Cleanup</a>
          <a class="btn btn-default btn-sm">Add to view</a>
        </div>
      </div>

    </div>
  </div>
</div>
