<ul tabindex="-1" class="typeahead dropdown-menu" ng-show="$isVisible()" role="select">
  <li role="presentation" ng-repeat="match in $matches | orderBy:['label.name', 'label.quantity']" ng-class="{active: $index == $activeIndex}">
    <a role="menuitem" tabindex="-1" ng-click="$select($index, $event)">
      <div ng-if="match.label.type === 'barcode'">
        <i app-icon="barcode"></i> {{ match.label.barcode }} <i>{{ match.label.name }} ({{ match.label.quantity }} {{ match.label.unit }})</i>
      </div>
      <div ng-if="match.label.type === 'item'">
        <i app-icon="item"></i> {{ match.label.article_number }} <i>{{ match.label.name }}</i>
      </div>
    </a>
  </li>
</ul>
